.header {
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), #efeeee);
  height: 120px;
  z-index: 50;
  padding: 20px 0;
}
@media screen and (max-width: 768.98px) {
  .header {
    position: relative;
    height: 80px;
  }
}
@media screen and (max-width: 425.98px) {
  .header {
    height: 90px;
    padding: 10px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768.98px) {
  .header__container {
    align-items: end;
  }
}

.header__logo {
  display: flex;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 425.98px) {
  .header__logo {
    flex-direction: column;
    align-items: start;
  }
}

.header__logo-text {
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .header__logo-text {
    line-height: 0.9;
    font-size: 14px;
  }
}
@media screen and (max-width: 425.98px) {
  .header__logo-text {
    line-height: 0.9;
    font-size: 9px;
  }
}

@media screen and (max-width: 768.98px) {
  .header__logo img {
    max-width: 50px;
  }
}

@media screen and (min-width: 610px) {
  .header__contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 769px) {
  .header__contacts {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 426px) {
  .header__contacts {
    gap: 15px;
  }
}

.header__contacts-phone,
.header__contacts-email {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.6);
}
.header__contacts-phone:hover, .header__contacts-phone:focus,
.header__contacts-email:hover,
.header__contacts-email:focus {
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768.98px) {
  .link__phone-header,
  .link__email-header {
    align-items: end;
    line-height: 0;
  }
}
@media screen and (max-width: 610px) {
  .link__phone-header:not(:last-child),
  .link__email-header:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 375.98px) {
  .link__phone-header,
  .link__email-header {
    font-size: 12px;
  }
}

@media screen and (max-width: 768.98px) {
  .header__list {
    text-align: center;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 769px) {
  .header__list {
    display: flex;
    align-items: center;
    height: 40px;
  }
}

@media screen and (min-width: 769px) {
  .header__item:hover .header__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 768.98px) {
  .header__item:not(:last-child) {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 769px) {
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
@media screen and (max-width: 768.98px) {
  .header__link {
    color: #bababa;
  }
}
.header__link:hover, .header__link:focus {
  color: rgba(0, 0, 0, 0.4);
}

.header__item-icon {
  fill: #ffc000;
  background: transparent;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.header__item-arrow {
  width: 15px;
  height: 15px;
}

.header__sub-menu {
  position: relative;
}

.header__sub-list {
  position: absolute;
  width: 370%;
  top: 30px;
  left: 0px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.93), rgba(235, 235, 235, 0.93)), url(../images/header/header001.jpg) center no-repeat;
  background-size: cover;
  background-color: #efeeee;
  padding: 20px 30px 30px 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease 0s;
  transform: translate(0px, 0px);
  display: flex;
  align-items: start;
  flex-direction: column;
}

.header__sub-item {
  position: relative;
}
.header__sub-item:not(:last-child) {
  margin-bottom: 10px;
}

.header__sub-item::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  width: 110%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768.98px) {
  .header__sub-item::after {
    width: 100%;
    background-color: #bababa;
    top: 30px;
  }
}

.header__sub-link {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}
@media screen and (max-width: 768.98px) {
  .header__sub-link {
    color: #bababa;
  }
}
.header__sub-link:hover, .header__sub-link:focus {
  color: rgba(0, 0, 0, 0.4);
}

.header__contact {
  max-width: 95px;
  background-color: #ffc000;
  padding: 7px;
  color: #fff;
  border: 2px solid #ffc000;
}
.header__contact:hover, .header__contact:focus {
  border: 2px solid #ffc000;
  background-color: transparent;
  color: #ffc000;
}

.header__home {
  color: #ffc000;
}
.header__home:hover, .header__home:focus {
  color: #fed866;
}

.header__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768.98px) {
  .header__button {
    display: none;
  }
}

.header__button-burger {
  fill: #333333;
}

.header__button .header__button-close {
  display: none;
}

.header__button.is-open .header__button-close {
  display: block;
  fill: #333333;
}

.header__button.is-open .header__button-burger {
  display: none;
}

@media screen and (max-width: 768.98px) {
  .header__menu {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 1;
    width: 100%;
    display: none;
    background-color: #333333;
    padding: 20px;
  }
  .header__menu.is-open {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .header__menu {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media screen and (max-width: 768.98px) {
  .header__item-desktop {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header__item-mobile {
    display: none;
  }
}

.header__spoiler-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header__sub-list-mobile {
  text-align: start;
  padding-left: 15px;
}

.header__sub-list-mobile a {
  font-size: 12px;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.hero {
  position: relative;
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 120px;
  }
}

.hero__container {
  position: relative;
  height: 500px;
}
@media screen and (min-width: 1441px) {
  .hero__container {
    height: 600px;
  }
}

.hero__title {
  position: absolute;
  z-index: 5;
  top: 200px;
  color: #fff;
}
@media screen and (max-width: 1024.98px) {
  .hero__title {
    top: 100px;
  }
}

.hero__title-heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35em;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .hero__title-heading {
    font-size: 18px;
  }
}

.hero__title-big {
  font-family: inherit;
  font-size: calc(32px + 2.1875vw);
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
}

.hero__stroke {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-shadow: none;
}

.hero__backdrop,
.hero__backdrop-klapani,
.hero__backdrop-zasuvky {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #bababa;
}
@media screen and (max-width: 768.98px) {
  .hero__backdrop,
  .hero__backdrop-klapani,
  .hero__backdrop-zasuvky {
    top: 0px;
  }
}
@media screen and (min-width: 1441px) {
  .hero__backdrop,
  .hero__backdrop-klapani,
  .hero__backdrop-zasuvky {
    height: 600px;
  }
}

.hero__backdrop-products {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__backdrop-zasuvky {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/products/zasuvki002.png) no-repeat;
  background-position: top;
  background-size: cover;
}

.hero__backdrop-klapani {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cards/card001.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__decor-logo {
  position: absolute;
  width: 1200px;
  height: 750px;
  background-size: contain;
  opacity: 0.7;
  background: url(../images/hero/logo004.png) no-repeat;
  top: -150px;
  right: -690px;
  z-index: 4;
  transform: rotate(10deg);
}
@media screen and (max-width: 768.98px) {
  .hero__decor-logo {
    background: url(../images/hero/logo003.png) no-repeat;
    top: -170px;
    right: -720px;
  }
}
@media screen and (max-width: 550.98px) {
  .hero__decor-logo {
    background: url(../images/hero/logo002.png) no-repeat;
    top: -120px;
    right: -850px;
  }
}
@media screen and (max-width: 425.98px) {
  .hero__decor-logo {
    background: url(../images/hero/logo002.png) no-repeat;
    top: -120px;
    right: -900px;
  }
}

.cards {
  position: relative;
  padding: 70px 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .cards {
    padding: 30px 0;
  }
}

.cards__logo {
  max-width: 170px;
}
@media screen and (max-width: 768px) {
  .cards__logo {
    max-width: 50px;
  }
}

.cards__wrapp {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768.98px) {
  .cards__wrapp {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
  }
}

.cards__title {
  display: flex;
  align-items: end;
  gap: 30px;
}

.cards__title h2 {
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.6);
  font-size: 35px;
}
@media screen and (min-width: 768.98px) {
  .cards__title h2 {
    display: none;
  }
}

.cards__item {
  display: flex;
  align-items: start;
  gap: 0px;
}
.cards__item:not(:last-child) {
  margin-bottom: 10px;
}

.cards__item::before {
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  background: url(../images/products/check.svg) center no-repeat;
}

.cards__card-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  .cards__card-1 {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .cards__card-1 {
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .cards__card-1 {
    grid-template-columns: repeat(1, auto);
  }
}

.cards__card-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
}
@media screen and (max-width: 1280px) {
  .cards__card-2 {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .cards__card-2 {
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .cards__card-2 {
    grid-template-columns: repeat(1, auto);
  }
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  perspective: 500px;
}
@media screen and (max-width: 990.98px) {
  .card {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 640px) {
  .card {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 991px) {
  .card:hover .card__front {
    transform: rotateY(180deg);
  }
}

@media screen and (min-width: 991px) {
  .card:hover .card__back {
    transform: rotateY(360deg);
  }
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  transition: 0.7s;
  backface-visibility: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__front {
  background-image: url(../images/cards/card006.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
@media screen and (max-width: 990.98px) {
  .card__front {
    display: none;
  }
}

.card__front-title {
  text-align: center;
  position: relative;
  top: -30px;
  z-index: 1;
  font-weight: 700;
  font-size: 26px;
  color: #000;
}

.card__front-title span {
  display: block;
}

.card__front-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-image: url(../images/products/arrow004.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 430px;
  opacity: 0.8;
}

.card__back {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cards/card006.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
@media screen and (min-width: 991px) {
  .card__back {
    transform: rotateY(180deg);
  }
}

.card__front-zirka {
  background-image: url(../images/cards/card003.jpg);
}

.card__back-zirka {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cards/card003.jpg);
}

.card__front-klapan {
  background-image: url(../images/cards/card001.jpg);
}

.card__back-klapan {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cards/card001.jpg);
}

.card__back-title {
  text-align: center;
  margin-bottom: 30px;
  color: #ffc000;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 990px) {
  .card__back-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.card__back-text {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 990px) {
  .card__back-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.card__back-link {
  display: inline-block;
  background-color: #ffc000;
  color: #000;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .card__back-link {
    font-size: 16px;
    padding: 10px;
  }
}
.card__back-link:hover {
  background-color: #fed866;
}

.cards__decor-bottom {
  position: absolute;
  left: -600px;
  bottom: -400px;
  width: 1200px;
  height: 750px;
  z-index: 0;
  opacity: 0.7;
  background: url(../images/hero/logo004.png) no-repeat;
  background-size: contain;
  transform: rotate(-70deg);
}
@media screen and (max-width: 1024px) {
  .cards__decor-bottom {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: #333333;
  padding: 30px 0;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: start;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
  padding-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .footer__content {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 550px) {
  .footer__content {
    grid-template-columns: repeat(1, auto);
    justify-content: start;
  }
}

.footer__title {
  font-weight: 600;
  color: #ffc000;
  margin-bottom: 10px;
}

.footer__phone {
  margin-bottom: 15px;
}

.footer__list a:hover, .footer__list a:focus {
  color: #fff;
}

.footer__item {
  position: relative;
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__item::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 0px;
  width: 100%;
  height: 0.5px;
  background-color: #bababa;
}

.footer__link {
  color: #bababa;
}

.link__instagram,
.link__youtube,
.link__facebook {
  display: flex;
  align-items: center;
}

.link__instagram::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/instagram.svg) center no-repeat;
  margin-right: 10px;
}

.link__youtube::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/youtube.svg) center no-repeat;
  margin-right: 10px;
}

.link__facebook::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/facebook.svg) center no-repeat;
  margin-right: 10px;
}

.footer__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #bababa;
  padding-top: 20px;
}

.footer__policy-text {
  color: #bababa;
}

.breadcrumbs {
  background-color: #1d1d1e;
  color: #fff;
  padding: 20px 0;
}

.breadcrumbs__list {
  display: flex;
  gap: 10px;
}

.breadcrumbs__item {
  text-transform: uppercase;
}
@media screen and (max-width: 950px) {
  .breadcrumbs__item {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .breadcrumbs__item {
    font-size: 10px;
  }
}

.breadcrumbs__item-color {
  color: #ffc000;
}

.products {
  background-color: #1d1d1e;
}
@media screen and (max-width: 950px) {
  .products {
    display: none;
  }
}

.products__nav {
  background-color: #1d1d1e;
}

.products__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products__item {
  padding: 15px;
  background-color: #58585a;
}
.products__item:hover, .products__item:focus {
  background-color: #898989;
}
@media screen and (max-width: 1280px) {
  .products__item {
    padding: 8px;
  }
}

.products__item-active {
  background-color: #f9f8f8;
}

.products__link {
  font-weight: 800;
  font-size: 14px;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  .products__link {
    font-size: 10px;
  }
}

.products__link-active {
  color: #333333;
}

.process {
  width: 100%;
  background: linear-gradient(to right, rgba(30, 30, 30, 0.5), rgba(42, 42, 42, 0.5)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #bababa;
  padding: 70px 0;
}

.process__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 768.98px) {
  .process__container {
    flex-direction: column;
  }
}

.process__content-text {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.process__content-title {
  color: #fff;
  margin-bottom: 10px;
}

.process__content-title span {
  color: #ffc000;
  font-weight: 900;
}

.process__article {
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0.1), rgba(30, 30, 30, 0.9)) no-repeat;
  padding: 20px;
}
.process__article:not(:last-child) {
  margin-bottom: 20px;
}

.process__article-title {
  font-size: 28px;
  color: #ffc000;
  font-weight: 600;
  margin-bottom: 20px;
}

.process__article-text {
  color: #fff;
  margin-bottom: 20px;
}

.process__article-link {
  color: #fff;
  font-weight: 600;
}

.zasuvki__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 769px) {
  .zasuvki__title {
    text-align: center;
  }
}

.zasuvki__img {
  margin: 0 auto;
  margin-bottom: 30px;
}

.zasuvki__container {
  margin-bottom: 30px;
}

.product__wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download {
  padding: 30px 0;
  background-color: #bababa;
}
@media screen and (max-width: 768px) {
  .download {
    padding: 30px 0;
  }
}

.download1 {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .download1 {
    right: 20px;
  }
}

.download__img1 img {
  width: 150px;
}

.download__container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .download__container {
    flex-direction: column;
  }
}

.download__content {
  margin-bottom: 30px;
}

.download__content-title {
  margin-bottom: 10px;
}

.download__data-title {
  margin-bottom: 10px;
}

.download__data-text {
  color: #333333;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.timeline {
  padding-top: 150px;
}

.timeline__wrapp {
  position: relative;
  width: 100%;
  height: 4540px;
}

.timeline__container {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 4px;
  border: 1px solid #000;
}

.timeline__line {
  position: absolute;
  top: 0px;
  left: 0;
  width: 3px;
  height: 10px;
  background-color: #ffc000;
  transition: 0.05s;
}

.timeline__list {
  padding: 50px 0;
}

.timeline__item {
  position: relative;
  padding-top: 50px;
}
@media screen and (max-width: 810px) {
  .timeline__item {
    margin-left: 30px;
  }
}

.timeline__item .timeline__box {
  position: relative;
  bottom: 0;
  width: 450px;
  background-color: #d6d6d6;
  padding: 20px;
  transform: translate(400%);
  transition: all 0.5s ease;
}
@media screen and (max-width: 900px) {
  .timeline__item .timeline__box {
    width: 350px;
  }
}
@media screen and (max-width: 810px) {
  .timeline__item .timeline__box {
    width: calc(100vw - 90px);
  }
}

.timeline__item .timeline__box::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 2px;
  height: 2px;
  right: 0;
  border-style: solid;
  background-color: #fff;
}

.timeline__item span {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.timeline__item:nth-child(odd) .timeline__box {
  left: 50px;
}
@media screen and (max-width: 900px) {
  .timeline__item:nth-child(odd) .timeline__box {
    left: 40px;
  }
}

.timeline__item:nth-child(even) .timeline__box {
  left: -500px;
  transform: translateX(-400%);
}
@media screen and (max-width: 900px) {
  .timeline__item:nth-child(even) .timeline__box {
    left: -385px;
  }
}
@media screen and (max-width: 810px) {
  .timeline__item:nth-child(even) .timeline__box {
    left: 40px;
  }
}

.timeline__item:nth-child(odd) .timeline__box::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #d6d6d6;
}

.timeline__item:nth-child(even) .timeline__box::before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent #d6d6d6;
}
@media screen and (max-width: 810px) {
  .timeline__item:nth-child(even) .timeline__box::before {
    left: -15px;
    border-width: 8px 16px 8px 0px;
  }
}

.timeline__item .timeline__box.timeline__show {
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}

.timeline__item-img {
  overflow: hidden;
  margin-bottom: 20px;
}

.timeline__item-title {
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}

.zirki__backdrop {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/cards/card003.jpg) no-repeat;
  background-position: center 33%;
  background-size: cover;
}

.advantages {
  padding: 70px 0;
}
@media screen and (max-width: 1024px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages__container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .advantages__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .advantages__content {
    max-width: 800px;
  }
}

.advantages__title,
.advantages__text,
.advantages__list {
  margin-bottom: 20px;
}

.advantages__item {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.advantages__item::before {
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  background: url(../images/products/check.svg) center no-repeat;
}

.advantages__img {
  max-width: 400px;
  overflow: hidden;
}
.advantages__img:not(:last-child) {
  margin-bottom: 20px;
}

.advantages__img img {
  width: 100%;
}

.block {
  padding: 30px 0;
}

@media screen and (min-width: 769px) {
  .block__container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
  }
}

@media screen and (min-width: 769px) {
  .block__content {
    max-width: 600px;
  }
}
.block__content:not(:last-child) {
  margin-bottom: 30px;
}

.block__img {
  max-width: 400px;
  overflow: hidden;
}
.block__img img {
  width: 100%;
}

.block__title {
  margin-bottom: 15px;
}

.block__text {
  margin-bottom: 20px;
}

.block__list {
  margin-bottom: 30px;
}

.block__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.block__item:not(:last-child) {
  margin-bottom: 10px;
}

.block__item::before {
  content: "";
  width: 35px;
  height: 35px;
  padding: 10px;
  background: url(../images/products/check.svg) center no-repeat;
}

.product {
  position: relative;
  z-index: 0;
  padding: 30px 0;
  background-color: #f9f8f8;
}

.product__title {
  margin-bottom: 5px;
}

.product__title-big {
  text-transform: uppercase;
}

.product__text:not(:last-child) {
  margin-bottom: 20px;
}

.pulse {
  position: relative;
}

.pulse__block {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pulse__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #ffc000;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.pulse__button::before,
.pulse__button::after {
  content: "";
  width: 140px;
  height: 140px;
  background-color: #ffc000;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 2.5s linear infinite;
}

.pulse__button::after {
  animation-delay: 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.pulse__download {
  position: absolute;
  top: 50px;
  right: 250px;
  max-width: 550px;
  height: auto;
  padding: 20px;
  background-color: #c4bfbf;
  opacity: 0;
}

.open {
  opacity: 1;
}

.contacts {
  padding: 30px 0;
  background-color: #bababa;
}

.contacts__container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 768.98px) {
  .contacts__container {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.contacts__form {
  max-width: 700px;
}

.contacts__info:not(:last-child) {
  margin-bottom: 50px;
}

.contacts__title {
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}

.contacts__input {
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3215686275);
  color: #fff;
  color: #333333;
  padding: 7px;
  cursor: pointer;
}
.contacts__input:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__input::-moz-placeholder {
  color: #333333;
}
.contacts__input::placeholder {
  color: #333333;
}
.contacts__input:focus {
  outline: 0;
  outline-offset: 0;
}

.contacts__input-message {
  height: 100px;
}

.contacts__checkbox {
  margin-bottom: 30px;
}

.contacts__text {
  font-weight: 700;
  color: #333333;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  padding: 20px;
  background-color: #ffc000;
  color: #333333;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #fed866;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.5;
  background-color: #fff;
  color: #333333;
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 20px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 26px;
    line-height: 1.7;
  }
}

ul,
ol,
li {
  list-style: none;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.link__phone,
.link__email {
  display: flex;
  align-items: center;
}

.link__phone::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/header/icon-phone.svg) center no-repeat;
  margin-right: 10px;
}

.link__email::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/header/icon-email.svg) center no-repeat;
  margin-right: 10px;
}

.title {
  font-family: inherit;
  font-size: calc(28px + 1.6666666667vw);
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
}

.title__small {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .title__small {
    font-size: 22px;
  }
}

.main {
  background-color: #dcd7bd;
}/*# sourceMappingURL=main.css.map */