.header {
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), #efeeee);
  height: 90px;
  z-index: 50;
  padding: 7px 0;
}
@media screen and (max-width: 768.98px) {
  .header {
    position: relative;
    height: 60px;
  }
}

.header__container {
  position: relative;
}
@media screen and (max-width: 769px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .header__logo {
    position: absolute;
    top: -4px;
  }
}
@media screen and (max-width: 768.98px) {
  .header__logo {
    max-width: 50px;
  }
}

@media screen and (min-width: 425.98px) {
  .header__contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 769px) {
  .header__contacts {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 426px) {
  .header__contacts {
    gap: 15px;
  }
}

.header__contacts-phone,
.header__contacts-email {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.6);
}
.header__contacts-phone:hover, .header__contacts-phone:focus,
.header__contacts-email:hover,
.header__contacts-email:focus {
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768.98px) {
  .header__list {
    text-align: center;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 769px) {
  .header__list {
    display: flex;
    align-items: center;
    height: 40px;
  }
}

@media screen and (min-width: 769px) {
  .header__item:hover .header__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 768.98px) {
  .header__item:not(:last-child) {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 769px) {
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768.98px) {
  .header__link {
    color: #bababa;
  }
}
.header__link:hover, .header__link:focus {
  color: rgba(0, 0, 0, 0.4);
}

.header__item-icon {
  fill: #ffc000;
  background: transparent;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.header__item-arrow {
  width: 15px;
  height: 15px;
}

.header__sub-menu {
  position: relative;
}

.header__sub-list {
  position: absolute;
  width: 370%;
  top: 18.5px;
  left: 0px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.93), rgba(235, 235, 235, 0.93)), url(../images/header/header001.jpg) center no-repeat;
  background-size: cover;
  background-color: #efeeee;
  padding: 20px 30px 30px 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease 0s;
  transform: translate(0px, 0px);
  display: flex;
  align-items: start;
  flex-direction: column;
}

.header__sub-item {
  position: relative;
}
.header__sub-item:not(:last-child) {
  margin-bottom: 10px;
}

.header__sub-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  width: 110%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768.98px) {
  .header__sub-item::after {
    width: 100%;
    background-color: #bababa;
    top: 30px;
  }
}

.header__sub-link {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}
@media screen and (max-width: 768.98px) {
  .header__sub-link {
    color: #bababa;
  }
}
.header__sub-link:hover, .header__sub-link:focus {
  color: rgba(0, 0, 0, 0.4);
}

.header__contact {
  max-width: 95px;
  background-color: #ffc000;
  padding: 7px;
  color: #fff;
  border: 2px solid #ffc000;
}
.header__contact:hover, .header__contact:focus {
  border: 2px solid #ffc000;
  background-color: transparent;
  color: #ffc000;
}

.header__home {
  color: #ffc000;
}
.header__home:hover, .header__home:focus {
  color: #fed866;
}

.header__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768.98px) {
  .header__button {
    display: none;
  }
}

.header__button-burger {
  fill: #333333;
}

.header__button .header__button-close {
  display: none;
}

.header__button.is-open .header__button-close {
  display: block;
  fill: #333333;
}

.header__button.is-open .header__button-burger {
  display: none;
}

@media screen and (max-width: 768.98px) {
  .header__menu {
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 1;
    width: 100%;
    display: none;
    background-color: #333333;
    padding: 20px;
  }
  .header__menu.is-open {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .header__menu {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media screen and (max-width: 768.98px) {
  .header__item-desktop {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header__item-mobile {
    display: none;
  }
}

.header__spoiler-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header__sub-list-mobile {
  text-align: start;
  padding-left: 15px;
}

.header__sub-list-mobile a {
  font-size: 12px;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.hero {
  position: relative;
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 80px;
  }
}

.hero__container {
  position: relative;
}

.hero__title {
  position: absolute;
  z-index: 5;
  top: 50px;
  color: #fff;
}
@media screen and (max-width: 1023.98px) {
  .hero__title {
    top: 40px;
  }
}

.hero__title span {
  display: block;
}

.hero__text {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent !important;
}

.hero__backdrop {
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #bababa;
}
@media screen and (max-width: 1023.98px) {
  .hero__backdrop {
    height: 500px;
    background-position: bottom;
  }
}
@media screen and (max-width: 768.98px) {
  .hero__backdrop {
    height: 400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440.98px) {
  .hero__backdrop {
    height: 500px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2000.98px) {
  .hero__backdrop {
    height: 600px;
  }
}
@media screen and (min-width: 2001px) {
  .hero__backdrop {
    height: 700px;
  }
}

.hero__backdrop-products {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__decor-top,
.hero__decor-bottom {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 500px;
  background-size: cover;
  opacity: 0.8;
}
@media screen and (max-width: 1023.98px) {
  .hero__decor-top,
  .hero__decor-bottom {
    height: 300px;
  }
}
@media screen and (max-width: 768.98px) {
  .hero__decor-top,
  .hero__decor-bottom {
    height: 250px;
  }
}
@media screen and (max-width: 425.98px) {
  .hero__decor-top,
  .hero__decor-bottom {
    height: 160px;
  }
}

.hero__decor-top {
  top: 0px;
  z-index: 3;
  background: url(../images/hero/bg002.png) no-repeat;
  transform: scale(-1, -1);
}

.hero__decor-bottom {
  bottom: 0px;
  z-index: 4;
  background: url(../images/hero/bg001.png) no-repeat;
  transform: scale(-1, 1);
}

.cards {
  position: relative;
  padding: 70px 0;
}
@media screen and (max-width: 425px) {
  .cards {
    padding: 30px 0;
  }
}

.cards__logo {
  max-width: 100px;
}
@media screen and (max-width: 425px) {
  .cards__logo {
    max-width: 50px;
  }
}

.cards__wrapp {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 425px) {
  .cards__wrapp {
    margin-bottom: 20px;
  }
}

.cards__title {
  color: rgba(0, 0, 0, 0.6);
}

.cards__content {
  text-align: center;
  margin-bottom: 30px;
}

.cards__card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media screen and (max-width: 1024px) {
  .cards__card {
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
  }
}
@media screen and (max-width: 990.98px) {
  .cards__card {
    grid-template-columns: repeat(1, auto);
  }
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}
@media screen and (max-width: 990.98px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 991px) {
  .card:hover .card__front {
    transform: rotateY(180deg);
  }
}

@media screen and (min-width: 991px) {
  .card:hover .card__back {
    transform: rotateY(360deg);
  }
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  transition: 0.7s;
  backface-visibility: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__front {
  background-image: url(../images/cards/card003.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
@media screen and (max-width: 990.98px) {
  .card__front {
    display: none;
  }
}

.card__front-title {
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 26px;
  color: #000;
}

.card__front-title span {
  display: block;
}

.card__front-bg {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-color: rgba(255, 192, 0, 0.5);
  border-radius: 50%;
}

.card__back {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cards/card003.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
@media screen and (min-width: 991px) {
  .card__back {
    transform: rotateY(180deg);
  }
}

.card__back-title {
  text-align: center;
  margin-bottom: 30px;
  color: #ffc000;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 990px) {
  .card__back-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.card__back-text {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 990px) {
  .card__back-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.card__back-link {
  display: inline-block;
  background-color: #ffc000;
  color: #000;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .card__back-link {
    font-size: 16px;
    padding: 10px;
  }
}
.card__back-link:hover {
  background-color: #fed866;
}

.cards__decor-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 100%;
  height: 500px;
  opacity: 0.8;
  background: url(../images/hero/bg001.png) no-repeat;
}

.footer {
  background-color: #333333;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: start;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
  padding-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .footer__content {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 550px) {
  .footer__content {
    grid-template-columns: repeat(1, auto);
    justify-content: start;
  }
}

.footer__title {
  font-weight: 600;
  color: #ffc000;
  margin-bottom: 10px;
}

.footer__phone {
  margin-bottom: 15px;
}

.footer__list a:hover, .footer__list a:focus {
  color: #fff;
}

.footer__item {
  position: relative;
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__item::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 0.5px;
  background-color: #bababa;
}

.footer__link {
  color: #bababa;
}

.link__instagram,
.link__youtube,
.link__facebook {
  display: flex;
  align-items: center;
}

.link__instagram::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/instagram.svg) center no-repeat;
  margin-right: 10px;
}

.link__youtube::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/youtube.svg) center no-repeat;
  margin-right: 10px;
}

.link__facebook::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/footer/facebook.svg) center no-repeat;
  margin-right: 10px;
}

.footer__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #bababa;
  padding-top: 20px;
}

.footer__policy-text {
  color: #bababa;
}

.breadcrumbs {
  background-color: #1d1d1e;
  color: #fff;
  padding: 20px 0;
}

.breadcrumbs__list {
  display: flex;
  gap: 10px;
}

.breadcrumbs__item {
  text-transform: uppercase;
}
@media screen and (max-width: 950px) {
  .breadcrumbs__item {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .breadcrumbs__item {
    font-size: 10px;
  }
}

.breadcrumbs__item-color {
  color: #ffc000;
}

.products {
  background-color: #1d1d1e;
}
@media screen and (max-width: 950px) {
  .products {
    display: none;
  }
}

.products__nav {
  background-color: #1d1d1e;
}

.products__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products__item {
  padding: 20px;
  background-color: #58585a;
}
.products__item:hover, .products__item:focus {
  background-color: #898989;
}

.products__item-active {
  background-color: #dcd7bd;
}

.products__link {
  font-weight: 800;
  color: #fff;
}

.products__link-active {
  color: #333333;
}

.mission {
  position: relative;
  padding: 70px 0;
}
@media screen and (max-width: 425px) {
  .mission {
    padding: 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .mission__container {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 70px;
  }
}

.mission__img {
  height: auto;
  width: 100%;
  max-width: 600px;
}
.mission__img:not(:last-child) {
  margin-bottom: 20px;
}

.mission__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.mission__text {
  margin-bottom: 10px;
}

.process {
  width: 100%;
  background: linear-gradient(to right, rgba(30, 30, 30, 0.5), rgba(42, 42, 42, 0.5)), url(../images/hero/hero001.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #bababa;
  padding: 70px 0;
}

.process__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 768.98px) {
  .process__container {
    flex-direction: column;
  }
}

.process__content-text {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.process__content-title {
  color: #fff;
  font-size: 48px;
}

.process__content-title span {
  color: #ffc000;
  font-size: 48px;
  font-weight: 900;
}

.process__article {
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0.1), rgba(30, 30, 30, 0.9)) no-repeat;
  padding: 20px;
}
.process__article:not(:last-child) {
  margin-bottom: 20px;
}

.process__article-title {
  font-size: 24px;
  color: #ffc000;
  font-weight: 800;
  margin-bottom: 20px;
}

.process__article-text {
  color: #fff;
  margin-bottom: 20px;
}

.process__article-link {
  color: #fff;
  font-weight: 600;
}

.contacts {
  padding: 30px 0;
  background-color: #bababa;
}

.contacts__container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 768.98px) {
  .contacts__container {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.contacts__form {
  max-width: 700px;
}

.contacts__info:not(:last-child) {
  margin-bottom: 50px;
}

.contacts__title {
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}

.contacts__input {
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3215686275);
  color: #fff;
  color: #333333;
  padding: 7px;
  cursor: pointer;
}
.contacts__input:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__input::-moz-placeholder {
  color: #333333;
}
.contacts__input::placeholder {
  color: #333333;
}
.contacts__input:focus {
  outline: 0;
  outline-offset: 0;
}

.contacts__input-message {
  height: 100px;
}

.contacts__checkbox {
  margin-bottom: 30px;
}

.contacts__text {
  font-weight: 700;
  color: #333333;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  padding: 20px;
  background-color: #ffc000;
  color: #333333;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #fed866;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  background-color: #fff;
  color: #333333;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}
@media screen and (max-width: 1439.98px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.link__phone,
.link__email {
  display: flex;
  align-items: center;
}

.link__phone::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/header/icon-phone.svg) center no-repeat;
  margin-right: 10px;
}

.link__email::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/header/icon-email.svg) center no-repeat;
  margin-right: 10px;
}

.title {
  font-family: inherit;
  font-size: calc(22px + 1.8055555556vw);
  font-weight: 900;
  text-transform: uppercase;
}

.main {
  background-color: #dcd7bd;
}/*# sourceMappingURL=main.css.map */