.advantages {
        padding: 70px 0;
        
            @media screen and (max-width: 1024px) {
                padding: 30px 0;
            }
}

.advantages__container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    @media screen and (min-width: 1440px) {
            gap: 100px;
        }
}
.advantages__content {
    @media screen and (min-width: 1024px) {
        max-width: 500px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 700px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 800px;
    }

    @media screen and (min-width: 1640px) {
        max-width: 1000px;
    }
}

.advantages__title,
.advantages__text,
.advantages__list {
    margin-bottom: 20px;
}

.advantages__item {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.advantages__item::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    width: 35px;
    height: 35px;
    background: url(../images/products/check.svg) center no-repeat;
}

.advantages__item-text {}

// .advantages__img{
//     max-width: 400px;
//         overflow: hidden;
    
//         &:not(:last-child) {
//             margin-bottom: 20px;
//         }
// }

// .advantages__img img {
//     width: 100%;
// }

// swiper

.advantages__swiper {
width: 100%;
margin: 0;
}

.advantages__slide img {
    display: block;
    width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 58px);
}

.swiper-pagination-bullet-active {
    background: $accent-color;
}

.swiper-button-next,
.swiper-button-prev {
    color: $accent-color;
}
