.block {
    padding: 30px 0;
}

.block__container {
    @media screen and (min-width: 820px) {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 50px;
    }
    @media screen and (min-width: 1280px) {
        gap: 50px;
        // margin-left: 50px;
    }
    // @media screen and (min-width: 1280px) {
    //     gap: 150px;
    //     margin-left: 50px;
    // }
   
}

.block__content {
    &:not(:last-child){
        margin-bottom: 30px;
    }

}

.block__img {
    max-width: 650px;
    @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
}

.block__img-item {
@media screen and (max-width: 1024px) {
        display: none;
    }
}

.block__img img {
    width: 100%;
}

.block__title {
    margin-bottom: 15px;
}

.block__text {
    margin-bottom: 20px;
}

.block__list {
margin-bottom: 30px;
}

.block__item {
    display: flex;
        align-items: center;
        gap: 15px;
        &:not(:last-child) {
                margin-bottom: 10px;
            }
}

.block__item::before {
    content: "";
        width: 35px;
        height: 35px;
        padding: 10px;
        background: url(../images/products/check.svg) center no-repeat;
}