.zasuvki__title {
    
    margin-bottom: 30px;
    @media screen and (min-width: 769px) {
            text-align: center;
        }
}

.zasuvki__img {
    margin: 0 auto;
    margin-bottom: 30px;
}

.zasuvki__container {
    margin-bottom: 30px;
}

.product__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
}