.hero {
    position: relative;

    @media screen and (min-width: 769px) {
        padding-top: 120px;
    }
}

.hero__container {
    position: relative;
    height: 500px;

    @media screen and (min-width: 1441px) {
        height: 600px;
    }
}

.hero__title {
    position: absolute;
    z-index: 5;
    top: 200px;
    color: #fff;

    @media screen and (max-width: 1024.98px) {
        top: 100px;
    }
}

.hero__title h1 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.35em;
    margin-bottom: 15px;

}

.hero__title h2 {
    line-height: 1;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.hero__backdrop {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url(../images/hero/hero001.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    background-color: $primary-color;

    @media screen and (max-width: 768.98px) {
        top: 0px;
    }


    @media screen and (min-width: 1441px) {
        height: 600px;
    }
}

.hero__backdrop-products {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../images/hero/hero001.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__decor-logo {
    position: absolute;
    width: 1200px;
    height: 750px;
    background-size: contain;
    opacity: 0.7;
    background: url(../../../images/hero/logo004.png) no-repeat;
    top: -150px;
    right: -690px;
    z-index: 4;
    transform: rotate(10deg);

    @media screen and (max-width: 768.98px) {
        background: url(../../../images/hero/logo003.png) no-repeat;
        top: -170px;
        right: -720px;
    }

    @media screen and (max-width: 550.98px) {
        background: url(../../../images/hero/logo002.png) no-repeat;
        top: -120px;
        right: -850px;
    }

    @media screen and (max-width: 425.98px) {
        background: url(../../../images/hero/logo002.png) no-repeat;
        top: -120px;
        right: -900px;
    }

}