.products {
    background-color: #1d1d1e;
    @media screen and (max-width: 950px) {
            display: none;
        }
}

.products__nav {
    background-color: #1d1d1e;
}

.products__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.products__item {
    padding: 15px;
    background-color: #58585a;
    &:hover,
        &:focus {
            background-color: #898989;
        }
                @media screen and (max-width: 1280px) {
                        padding: 8px;
                }
}
.products__item-active {
    background-color: #dcd7bd;
}

.products__link {
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    @media screen and (max-width: 1280px) {
            font-size: 10px;
        }
}
.products__link-active{
    color: $text-color;
}